
input{
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  transition: border-color 0.3s;
}
#add{
  margin-left: 80%;
}
#supp{
  background-color:rgb(238, 110, 110);
}
#supp2{
  background-color:rgb(238, 110, 110);
}
