
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">School Educo</h4>

    <div class="row">
      <!-- Headings -->
                     <div class="col-lg">
        <div class="card mb-4">
          <h5 class="card-header">School Infos :</h5>
          <table class="table table-borderless">
            <tbody>
              <tr>
                
                <td class="align-middle"><small class="text-light fw-semibold">{{Data.schoolInfo}}</small></td>
              </tr></tbody></table></div>
              <div class="card mb-4">
                <h5 class="card-header">School remarks :</h5>
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td class="align-middle"><small class="text-light fw-semibold">{{Data.remarks}}</small></td>
                    </tr></tbody></table></div>