<div class="container-xxl container-p-y">
  <div class="misc-wrapper">
    <h2 class="mb-2 mx-2">Access Denied</h2>
    <p class="mb-4 mx-2">Access Denied. You are not authorized to view this page</p>
    <a href="#" class="btn btn-primary">Back to home</a>
    <div class="mt-4">
      <img
        src="assets/img/illustrations/girl-doing-yoga-light.png"
        alt="girl-doing-yoga-light"
        width="500"
        class="img-fluid"
        data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
        data-app-light-img="illustrations/girl-doing-yoga-light.png"
      />
    </div>
  </div>
</div>
